configuration {
    modi: "window,run,ssh,drun,combi";
    font: "Roboto Mono 14";
    combi-modi: "window,drun,ssh";
    show-icons: true;
    icon-theme: "Papirus-Dark";
    terminal: "xfce4-terminal";
}
@theme "./theme"
